.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 40rem;
    justify-self: center;
    box-shadow: 2px 2px 5px 1px rgba($color: $color-grey-dark, $alpha: 1);
    transform: rotate(5deg);
  }

  @include respond(tab-land) {
    grid-template-columns: 1fr;

    img {
      transform: none;
    }

    padding: 2.4rem 4.8rem;
  }
}